<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <title>d3.js Canvas Parallel Coordinates - Chris Evans</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="http://underscorejs.org/underscore-min.js"></script>
    <script src="static/js/lib/d3.parcoords.js"></script>
    <script src="static/js/lib/d3.underscore.math.js"></script>
    <script src="static/js/lib/d3.divgrid.js"></script>
<link rel="stylesheet" href="static/css/fonts/droid.css" type="text/css" charset="utf-8" />
     <link href="static/css/d3.parcoords.css" rel="stylesheet">
     <link href="static/css/bigdata.parallelcoordinates.css" rel="stylesheet">

    </head>
    <body>

    <div align="center">
    <button  style="color: white;     background-color: darkblue;"  onclick="window.location.href='/'">Maps </button>
    <button style="color: white;    background-color: darkblue; "  onclick="window.location.href='/charts'">Charts </button>
    <button style="color: white;     background-color: darkblue; " onclick="window.location.href='/advance'">Advance </button>
  </div>
    <div id="wrapper" class="parcoords" style="width:100%;height:400px">
      <div id="desc">
      <!--div id="title"><span class="large">Parallel Coordinates</span></div-->


      </div>
    </div>
    <div id="grid" style="width:100%"></div>

    <script type="text/javascript" src="static/js/bigdata.parallelcoordinates.js"></script>


    </body>
    </html>
